<!DOCTYPE html>
<html lang="en">

<%- include('./header') %>

<body>
  <div>
    <h1 class="display-2">Songs</h1>
  </div>

  <div>
    <form method="get" action="/">
      <label for="artista">Artista:</label>
      <select name="artista" id="artista">
        <option value="">Todos</option>
        <% artistas.forEach(artista => { %>
          <option value="<%= artista.id %>" <% if (artistaSelecionado == artista.id) { %>selected<% } %>><%= artista.nome %></option>
        <% }) %>
      </select>
      <button type="submit">Filtrar</button>
    </form>
  </div>

  <div class="table-responsive">
    <table class="table text-center">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Título</th>
          <th scope="col">Artista</th>
          <th scope="col">Gênero</th>
          <th scope="col">Duração</th>
        </tr>
      </thead>
      <tbody>
        <% musicas.forEach(musica => { %>
          <tr>
            <th scope="row"><%= musica.titulo %></th>
            <td><%= musica.artista %></td>
            <td><%= musica.genero %></td>
            <td><%= musica.duracao %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</body>
</html>
