<!DOCTYPE html>
<html lang="en">

<%- include('./header') %>

  <body>
    <div class="container-fluid">
      <!-- Título -->
      <h1 class="display-2">Songs</h1>

      <!-- Tabela -->
      <div class="table-responsive">
        <table id="songs" class="table">
          <thead class="thead-dark" style="font-size: 125%">
            <tr>
              <th scope="col">Título</th>
              <th scope="col">Artista</th>
              <th scope="col">Gênero</th>
              <th scope="col">Duração</th>
            </tr>
          </thead>
          <tbody>
            <% musicas.forEach(musica=> { %>
              <tr>
                <th scope="row">
                  <%= musica.titulo %>
                </th>
                <td>
                  <%= musica.artista %>
                </td>
                <td>
                  <%= musica.genero %>
                </td>
                <td>
                  <%= musica.duracao %>
                </td>
              </tr>
              <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </body>

  <!-- Script da tabela -->
  <script>
    new DataTable('#songs', {
      fixedHeader: true,
      searching: false,
      ordering: false,
      language: {
        lengthMenu: '_MENU_ _ENTRIES_ por página',
        entries: {
          _: 'músicas',
          1: 'música'
        },
        info: '_START_-_END_ de _TOTAL_ _ENTRIES-TOTAL_',
        infoEmpty: '0 _ENTRIES_ encontradas ',
        infoFiltered: 'de _MAX_ _ENTRIES_',
        zeroRecords: 'Nenhuma música encontrada'
      }
    });
  </script>

</html>