<!DOCTYPE html>
<html lang="en">

<%- include('./header') %>

<!-- Título -->
<body>
  <div class="container-fluid">
    <h1 class="display-4">Músicas</h1>
  </div>

  <!-- Tabela -->
  <div class ="container-fluid">
    <div class="table-responsive">
      <table class="table text-center">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Título</th>
            <th scope="col">Duração</th>
            <th scope="col">Artista (ID)</th>
            <th scope="col">
              <button class="btn btn-outline-light" data-toggle="modal" data-target="#incluir"><i class="iconify" style="font-size: 100%;" data-icon="bi:plus-lg"></i></a>
            </th>
          </tr>
        </thead>
        <tbody>
          <% musicas.forEach(musica => { %>
            <tr>
              <th scope="row"><%= musica.id %></th>
              <td><%= musica.titulo %></td>
              <td><%= musica.duracao %></td>
              <td><%= musica.artista_id %></td>
              <td>
                <a href="#" role="button" class="text-success" data-toggle="modal" data-target="#editar"><i class="iconify" style="font-size: 125%;" data-icon="bi:pencil-square"></i></a>
                &nbsp;
                <a href="#" role="button" class="text-danger" data-toggle="modal" data-target="#excluir"><i class="iconify" style="font-size: 125%;" data-icon="bi:trash"></i></a>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Modal de Excluir-->
  <div class="container-fluid">
    <div class="modal fade" id="excluir" tabindex="-1" role="dialog" aria-labelledby="TituloModalExcluir" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="TituloModalExcluir">Excluir</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h4>Deseja excluir a música <strong id="modal-text"></strong>?</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <form action="/musicas" method="GET">
              <input type="hidden" name="id" id="excluir_id">
              <input type="hidden" name="titulo" id="excluir_titulo">
              <input type="hidden" name="duracao" id="excluir_duracao">
              <input type="hidden" name="artista_id" id="excluir_genero">
              <input type="hidden" name="acao" id="acao" value="excluir">
              <button type="submit" class="btn btn-danger">Excluir</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal de Editar -->
  <div class="container-fluid">
    <div class="modal fade" id="editar" tabindex="-1" role="dialog" aria-labelledby="TituloModalEditar" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="TituloModalEditar">Editar</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="/musicas" method="GET">
            <div class="modal-body">
              <div class="form-group">
                <label for="id" class="col-form-label">ID:</label>
                <input type="text" class="form-control" name="id" id="editar_id" readonly>
              </div>
              <div class="form-group">
                <label for="titulo" class="col-form-label">Título:</label>
                <input type="text" class="form-control" name="titulo" id="editar_titulo" placeholder="Título">
              </div>
              <div class="form-group">
                <label for="duracao" class="col-form-label">Duração:</label>
                <input type="text" class="form-control" name="duracao" id="editar_duracao" pattern="^([0-5][0-9]):([0-5][0-9])$" placeholder="00:00:00"></input>
              </div>
              <div class="form-group">
                <label for="artista_id" class="col-form-label">Artista:</label>
                <select class="form-control" name="artista_id" id="editar_artista_id">
                  <% artistas.forEach(artista => { %>
                    <option value="<%= artista.id %>"><%= artista.nome %></option>
                  <% }) %>
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <input type="hidden" name="acao" id="acao" value="editar">
              <button type="submit" class="btn btn-success">Editar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal de Incluir -->
  <div class="container-fluid">
    <div class="modal fade" id="incluir" tabindex="-1" role="dialog" aria-labelledby="TituloModalIncluir" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="TituloModalIncluir">Incluir</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="/musicas" method="GET">
            <div class="modal-body">
              <div class="form-group">
                <label for="titulo" class="col-form-label">Título:</label>
                <input type="text" class="form-control" name="titulo" id="incluir_titulo" placeholder="Título" required>
              </div>
              <div class="form-group">
                <label for="duracao" class="col-form-label">Duração:</label>
                <input type="text" class="form-control" name="duracao" id="incluir_duracao" pattern="^([0-5][0-9]):([0-5][0-9])$" placeholder="00:00" required></input>
              </div>
              <div class="form-group">
                <label for="artista_id" class="col-form-label">Artista:</label>
                <select class="form-control" name="artista_id" id="incluir_artista_id" required>
                  <option value="">-- Selecionar --</option>
                  <% artistas.forEach(artista => { %>
                    <option value="<%= artista.id %>"><%= artista.nome %></option>
                  <% }) %>
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <input type="hidden" name="acao" id="acao" value="incluir">
              <button type="submit" class="btn btn-success">Incluir</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Script de Excluir-->
  <script>
    // Adiciona um listener a todos os botões com a classe
    document.querySelectorAll('.text-danger').forEach(button => {
      button.addEventListener('click', function() {
        // Identifica a linha do botão clicado
        const row = this.closest('tr');

        // Captura o valor do th e do td da linha
        const id = row.querySelector('th').innerText;
        const titulo = row.querySelectorAll('td')[0].innerText;
        const duracao = row.querySelectorAll('td')[1].innerText;
        const artista_id = row.querySelectorAll('td')[2].innerText;
        
        // Atualiza texto do modal
        document.getElementById('modal-text').innerText = `${titulo}`;

        // Preenche o formulário oculto
        document.getElementById('excluir_id').value = id;
        document.getElementById('excluir_titulo').value = titulo;
        document.getElementById('excluir_duracao').value = duracao;
        document.getElementById('excluir_artista_id').value = artista_id;
        
      });
    });
  </script>

  <!-- Script de Editar -->
  <script>
    // Adiciona um listener a todos os botões com a classe
    document.querySelectorAll('.text-success').forEach(button => {
      button.addEventListener('click', function() {
        // Identifica a linha do botão clicado
        const row = this.closest('tr');

        // Captura o valor do th e do td da linha
        const id = row.querySelector('th').innerText;
        const titulo = row.querySelectorAll('td')[0].innerText;
        const duracao = row.querySelectorAll('td')[1].innerText;
        const artista_id = row.querySelectorAll('td')[2].innerText;

        // Preenche o formulário
        document.getElementById('editar_id').value = id;
        document.getElementById('editar_titulo').value = titulo;
        document.getElementById('editar_duracao').value = duracao;
        document.getElementById('editar_artista_id').value = artista_id;
      });
    });
  </script>
</body>